<div class="row mb-4">
  <div class="col">
    <div class="row">
      <div class="col-8 col-sm-6">
        {{ partial "list/search-controls"}}
      </div>
      <div class="col-4 col-sm-6">
        <div class="btn-toolbar float-right" role="toolbar" aria-label="Filter Toolbar">
          {{ partial "list/sort-filter" }}
          {{ partial "list/limit-filter" }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col">
    {{#each models as |model|}}
      {{yield model}}
    {{else}}
      <p class="text-muted">No results.</p>
    {{/each}}
  </div>
</div>
