{{#bs-modal/body}}
  <h4 class="mb-2">{{model.name}} ({{order.name}}) [ {{line-item-status status=model.status}} ]</h4>
  <h5 class="mb-2">Customer: {{order.customer.name}}, Rep: {{order.salesRep.givenName}}</h5>
  <p class="mb-3">
    {{moment-format model.range.start "MMM Do, YYYY"}}
    -
    {{moment-format model.range.end "MMM Do, YYYY"}}
    {{#if startsEnds}}
      ({{startsEnds}})
    {{/if}}
  </p>
  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-3">
      {{dashboard/data-card
        icon="hair-cross"
        title="Required"
        format="0,0"
        value=model.requiredLeads
        color="text-primary"
      }}
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      {{dashboard/data-card
        icon="credit"
        title="Value"
        value=model.totalValue
        format="$0,0.[00]"
        secondaryValue=model.cpl
        secondaryFormat="$0,0.[00]"
        secondarySuffix="CPL"
        color="text-info"
      }}
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      {{dashboard/data-card
        icon="gauge"
        title="Fulfilled"
        format="0,0"
        secondaryFormat="0.[000]%"
        value=0
        secondaryValue=0
        color="text-success"
      }}
    </div>
    <div class="col-sm-6 col-lg-3 mb-3">
      {{dashboard/data-card
        icon="block"
        title="Scrubbed"
        format="0,0"
        secondaryFormat="0.[000]%"
        value=0
        secondaryValue=0
        color="text-warning"
      }}
    </div>
  </div>
{{/bs-modal/body}}
{{#bs-modal/footer}}
{{/bs-modal/footer}}
