<div class="row">

  <div class="col-md-6">
    <div class="form-group">
      <label for="deployment-name">Name {{required-field}}</label>
      {{input type="text" id="deployment-name" required=true value=model.name class="form-control"}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="deployment-category">Category (Location) {{required-field}}</label>
      {{#auto-complete
        triggerClass="form-control"
        placeholder="Begin typing to find a category..."
        type="email-category"
        selected=model.category
        allowClear=false
        on-search=(route-action "searchCategories")
        onChange=(action (mut model.category)) as |category|
      }}
        {{category.fullName}}
      {{/auto-complete}}
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="deployment-subject">Subject Line {{required-field}}</label>
      {{input type="text" id="deployment-subject" required=true value=model.subject class="form-control"}}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <label for="deployment-preheader">Preheader</label>
      {{input type="text" id="deployment-preheader" value=model.preheader class="form-control"}}
    </div>
  </div>
</div>
