{{#link-to
  "email.deployment.edit.index" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">

    <div class="d-flex flex-column">
      <h4 class="mb-1">{{item.name}}</h4>
      <h5 class="mb-2">{{item.subject}}</h5>

      <p class="mb-0">{{item.category.fullName}}</p>
      <p class="mb-2">Jobs Sent: {{item.sendCount}}</p>

      <small class="d-block">ID: {{item.id}}</small>
      {{#if item.externalSource.identifier}}
        <small class="d-block">From {{item.externalSource.namespace}}: {{item.externalSource.identifier}}</small>
      {{/if}}
    </div>


    <div class="d-none d-md-flex flex-column align-items-end text-right">
      {{model-date date=item.createdAt label="Created"}}
      {{model-date date=item.updatedAt label="Updated"}}
    </div>

  </div>

{{/link-to}}
