{{#link-to
  "form.edit" item.id
  class="list-group-item list-group-item-action d-flex"
}}
  {{#if item.thumbnail}}
    <div class="video-thumbnail-container mr-2">
      <img class="mr-2" src={{item.thumbnail}} alt={{item.name}} width="160" height="90">
    </div>
  {{/if}}
  <div class="d-flex w-100">
    <div>
      <h4 class="mb-2">{{item.name}}</h4>
      {{#if item.customer.name}}
        <h5 class="mb-2">{{item.customer.name}}</h5>
      {{/if}}
      <small class="d-block">ID: {{item.id}}</small>
      {{#if item.externalSource.identifier}}
        <small class="d-block">From {{item.externalSource.namespace}}: {{item.externalSource.identifier}}</small>
      {{/if}}
    </div>

    <div class="d-md-flex flex-column ml-auto d-none">
      {{#if item.externalSource.createdAt}}
        <small>{{entypo-icon "clock"}} Created {{moment-format item.externalSource.createdAt "MMM Do, YYYY h:mm a"}}</small>
      {{/if}}
      {{#if item.externalSource.updatedAt}}
        <small>{{entypo-icon "clock"}} Updated {{moment-format item.externalSource.updatedAt "MMM Do, YYYY h:mm a"}}</small>
      {{/if}}
    </div>
  </div>
{{/link-to}}
