<h5 class="card-title mt-3">
  {{#if model.totalCount}}
    Found {{model.totalCount}} Record{{#if (gt model.totalCount 1)}}s{{/if}}
  {{else}}
    No Records Found
  {{/if}}
</h5>

{{#fetch-more
  query=observable
  edges=model.edges
  hasNextPage=model.pageInfo.hasNextPage
  endCursor=model.pageInfo.endCursor
  on-fetch-start=(action showLoading)
  on-fetch-end=(action hideLoading)
  resultKey="allFormEntries" as |fetch|
}}
  <ul>
    {{#each fetch.nodes as |node|}}
      <li>Entry #: {{node.identifier}}</li>
    {{/each}}
  </ul>
  {{#if fetch.hasNextPage}}
    <button class="btn btn-primary" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
      {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
    </button>
  {{/if}}
{{/fetch-more}}
