<div class="row">

  <div class="col-md-7 col-lg-8">

    <div class="form-group">
      <label>Customer {{required-field-label}}</label>
      {{type-ahead
        placeholder="Begin typing to find a customer..."
        type="customer"
        selected=model.customer
        allowClear=false
        onChange=(action (mut model.customer))
      }}
      <small class="form-text text-muted">The customer to assign to this campaign.</small>
      {{#if model.customer.children.length}}
        <small class="form-text text-muted">
          {{model.customer.name}} also includes the following companies:
          {{#each model.customer.children as |child|}}
            {{child.name}}
          {{/each}}
        </small>
      {{/if}}
    </div>

    <div class="form-group">
      <label for="campaign-name">Name</label>
      {{input type="text" value=model.name class="form-control" id="campaign-name" aria-describedby="campaign-name-help" placeholder="Campaign name"}}
      <small id="campaign-name-help" class="form-text text-muted hide">The campaign name - should be descriptive (optional).</small>
    </div>

    <div class="form-group">
      <label>Sales Rep {{required-field-label}}</label>
      {{#type-ahead
        placeholder="Begin typing to find a user..."
        type="user"
        field="givenName"
        selected=model.salesRep
        allowClear=false
        onChange=(action (mut model.salesRep))
        as |user|
      }}
        {{user.givenName}} {{user.familyName}}
      {{/type-ahead}}
      <small class="form-text text-muted">The campaign sales representative.</small>
    </div>

    <div class="form-group">
      <label for="campaign-notes">Notes</label>
      {{textarea value=model.notes rows="3" class="form-control" id="campaign-notes" aria-describedby="campaign-notes-help"}}
      <small id="campaign-notes-help" class="form-text text-muted">Additional information about this campaign.</small>
    </div>

  </div>

  <div class="col-md-5 col-lg-4">
    <label>Date Range {{required-field-label}}</label>
    {{#power-calendar-range
      center=center
      selected=model.range

      onCenterChange=(action (mut center) value="moment")
      onSelect=(action (mut model.range) value="moment") as |calendar|}}
        {{calendar.nav}}
        {{calendar.days}}
    {{/power-calendar-range}}
  </div>

</div>
