{{#bs-modal show=true size="large" backdrop="static" onHidden=(route-action "transitionTo" "email.deployment.edit.sends") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">Send Email</h5>
  {{/modal.header}}
  {{#modal.body}}
    {{#if (eq currentStep 1)}}
      {{partial "email/deployment/edit/sends/create/step-1"}}
    {{/if}}

    {{#if (eq currentStep 2)}}
      {{partial "email/deployment/edit/sends/create/step-2"}}
    {{/if}}

    {{#if (eq currentStep 3)}}
      {{partial "email/deployment/edit/sends/create/step-3"}}
    {{/if}}
  {{/modal.body}}
  {{#modal.footer class="d-flex justify-content-between"}}
    <div class="btn-group btn pr-0">
      <button class="btn btn-info clickable" disabled={{backDisabled}} {{action (action "decreaseStep")}}>
        Back
      </button>
      <button class="btn btn-info clickable" disabled={{nextDisabled}} {{action (action "increaseStep")}}>
        Next
      </button>
    </div>

    {{confirm-button
      icon="cross"
      label="Cancel"
      class="btn-danger"
      disabled=isActionRunning
      onConfirm=(action modal.actions.hide)
    }}
  {{/modal.footer}}
{{/bs-modal}}
