{{#bs-modal show=true size="large" backdrop="static" onHidden=(route-action "transitionTo" "email.deployment.edit.sends") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">Send Email</h5>
  {{/modal.header}}
  {{#modal.body}}
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header">
            <strong>Data Extensions</strong>
            <span class="badge badge-light">{{model.dataExtensions.length}}</span>
          </div>
          <div class="card-body p-2 tree-view">
            {{trees/data-extensions
              on-select=(action "addDataExtension")
              on-deselect=(action "removeDataExtension")
            }}
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header"><strong>Publication Lists</strong></div>
          <div class="card-body p-2 tree-view">

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mt-3">
          <div class="card-header"><strong>Selected</strong></div>
          <div class="card-body">
            <ul class="list-inline mb-0">
              {{#each model.dataExtensions as |extension|}}
                <li class="list-inline-item">{{extension.text}}</li>
              {{else}}
                <li class="list-inline-item text-muted"><em>(None Selected)</em></li>
              {{/each}}
            </ul>
          </div>
          <div class="card-footer">
            <div class="custom-control custom-checkbox">
              {{input
                id="dedupe-emails"
                type="checkbox"
                class="custom-control-input"
                name="dedupeEmails"
                checked=model.dedupeEmails
              }}
              <label class="custom-control-label" for="dedupe-emails">De-deplicate by email address?</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
    </div>
  {{/modal.body}}
  {{#modal.footer}}
    {{confirm-button
      icon="cross"
      label="Cancel"
      class="btn-danger"
      disabled=isActionRunning
      onConfirm=(action modal.actions.hide)
    }}
  {{/modal.footer}}
{{/bs-modal}}
