<div class="row">
  <div class="col">
    <h3 class="mb-0 float-left">
      Manage User &quot;{{ model.email }}&quot;
    </h3>
    {{#confirm-button
      class="btn btn-sm btn-outline-danger d-inline float-right clickable"
      onConfirm=(route-action "delete" model.id "user.index") as |button|
    }}
      {{entypo-icon "cross"}} {{#unless button.hasConfirmed}}Delete{{else}}You Sure?{{/unless}}
    {{/confirm-button}}
  </div>
</div>
<hr>

<form {{action (route-action "update" model) on="submit"}}>
  {{ partial "user/form" }}

  <div class="row">
    <div class="col">
      <button class="btn btn-success" type="submit">
        {{entypo-icon "check"}} Save
      </button>
    </div>
  </div>
</form>

