{{#link-to
  "user.edit" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{item.givenName}} {{item.familyName}}</h5>
    <small>{{#if item.updatedAt}}{{moment-format item.updatedAt "MMM Do, YYYY h:mm a"}}{{/if}}</small>
  </div>
  <div class="mb-1">{{item.email}}</div>

  <small>{{item.id}}</small>
{{/link-to}}
