{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "customer.index"}}Customers{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.name }}{{/crumbs.item}}
{{/nav-breadcrumbs}}

<form {{action (route-action "update" model) on="submit"}}>
  <div class="card model-form">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "customer/form" }}
    </div>
    <div class="card-footer d-flex justify-content-between">
      {{model-save-button disabled=model.externalSource.identifier}}

      <div class="btn-group btn pr-0">
        {{confirm-button
          icon="trash"
          label="Delete"
          class="btn-danger"
          onConfirm=(route-action "delete" model.id "customer.index")
        }}
      </div>
    </div>

    {{!-- <div class="progress" style="height: 0.75rem;">
      <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div> --}}

  </div>
</form>
