<div class="card-body p-2 d-flex justify-content-between">
  <div class="d-flex flex-column">
    <button type="button" class="btn btn-info" disabled={{disabled}} {{action "fullscreen"}}>{{entypo-icon "resize-full-screen"}} Fullscreen</button>
  </div>

  <div class="d-flex flex-column align-items-end text-right">
    <div class="d-flex flex-row">
      <button type="button" class="btn btn-dark" disabled={{disabled}} {{action "copy"}}>{{entypo-icon "copy"}} Copy</button>
      {{confirm-button
        icon="trash"
        label="Delete"
        class="ml-1 btn-danger"
        disabled=disabled
        onConfirm=(action "delete")
      }}
    </div>

  </div>
</div>

<form {{action "setHtml" on="submit"}}>
  <div class="card-body p-0 border-top">
    <div class="form-group mb-0">
      {{ember-ace
        lines=editorLines
        value=html
        theme="ace/theme/chrome"
        mode="ace/mode/html"
        useSoftTabs=true
        tabSize=2
        useWrapMode=false
        showPrintMargin=false
        disabled=disabled
        readOnly=disabled
        update=(action (mut model.ourHtml))
        ready=(action "setEditor")
      }}

    </div>
  </div>
  <div class="card-footer">
    {{model-save-button disabled=saveDisabled}}
  </div>
</form>
