<form {{action "setHtml" on="submit"}}>
  <div class="card-body p-0">
    <div class="form-group mb-0">
      {{ember-ace
        lines=editorLines
        value=model.ourHtml
        theme="ace/theme/chrome"
        mode="ace/mode/html"
        useSoftTabs=true
        tabSize=2
        useWrapMode=false
        showPrintMargin=false
        update=(action (mut model.ourHtml))
        ready=(action "setEditor")
      }}

    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    {{model-save-button disabled=saveDisabled}}
    <button type="button" class="btn btn-info" {{action "fullscreen"}}>{{entypo-icon "resize-full-screen"}} Fullscreen</button>
  </div>
</form>
