<div class="card-body">

  <div class="row">
    <div class="col-lg-6 mnh-100">
      <div class="card mnh-100">
        <div class="card-header">
          Email URL/Link Rules
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="tags">Only Include Links Tagged With...</label>
            {{type-ahead
              placeholder="Begin typing to find a tag..."
              type="tag"
              multiple=true
              selected=model.tags
              onChange=(action (mut model.tags))
            }}
            <small class="form-text text-muted">Leave empty to include all links.</small>
          </div>

          <div class="form-group">
            <label for="allowedLinkTypes">Only Include Links Set As...</label>
            <div class="form-inline">
              {{#each linkTypes.types as |linkType|}}
                {{campaign-link-type class="mr-3" type=linkType selected=model.allowedLinkTypes}}
              {{/each}}
            </div>
            <small id="allowedLinkTypesHelp" class="form-text text-muted">Check the link types that should be included in the report.</small>
          </div>

          {{#link-to "campaign.edit.email.links" class="btn btn-info" role="button"}}Manage Links{{/link-to}}

        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card mb-3">
        <div class="card-header">
          Exclude Fields
        </div>
        <div class="card-body">
          <div class="form-inline">
            {{#each identityAttributes.getViewableFields as |field| }}
              {{#if (not-eq field.canExclude false)}}
              {{excluded-field class="mr-3" field=field excluded=model.excludeFields}}
              {{/if}}
            {{/each}}
          </div>
          <small class="form-text text-muted">Check all fields you wish to exclude from reports.</small>
        </div>
      </div>

      {{campaign-identity-filter filters=model.identityFilters}}

    </div>
  </div>
</div>

{{outlet}}
