{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item}}{{#link-to "form.index"}}{{entypo-icon "text-document"}} Forms{{/link-to}}{{/crumbs.item}}
  {{#crumbs.item active=true}}{{ model.name }} (<a href="{{model.previewUrl}}" target="_blank" rel="noopener noreferrer">view</a>){{/crumbs.item}}
{{/nav-breadcrumbs}}

<form {{action (route-action "update" model) on="submit"}}>
  <div class="card model-form mb-4">
    <div class="card-header"></div>
    <div class="card-body">
      {{ partial "form/form" }}
    </div>
    <div class="card-footer d-flex justify-content-between">
      {{model-save-button disabled=isActionRunning}}

      <div class="btn-group btn pr-0">
        {{confirm-button
          icon="trash"
          label="Delete"
          class="btn-danger"
          disabled=isActionRunning
          onConfirm=(route-action "delete" model.id "form.index")
        }}
      </div>
    </div>
  </div>
</form>

<div class="card model-form">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="mb-0">
      {{#link-to "form.edit.entries"}}
        {{entypo-icon "v-card"}} Manage Leads for &quot;{{ model.name }}&quot;
      {{/link-to}}
    </h5>
    {{outlet}}
  </div>
  <div class="card-footer"></div>
</div>
