{{#bs-modal show=true size="xl" backdrop="static" onHidden=(route-action "transitionTo" "order.edit.line-items") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">{{entypo-icon "email"}} Create Email Line Item for <strong>{{order.fullName}}</strong></h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  <form>
    {{#modal.body}}
      <div class="card mb-3">
        <div class="card-header"><strong>Details</strong></div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6 col-xl-7">
              <div class="row">

                <div class="col-12">
                  <div class="form-group">
                    <label for="line-item-name">Line Item Name {{required-field-label}}</label>
                    {{input type="email" required=true class="form-control" id="line-item-name" aria-describedby="line-item-name-help"}}
                    <small id="line-item-name-help" class="form-text text-muted">A descriptive name for this line item. It will appear in lists and on the dashboard (but not in reports).</small>
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-6">
                  <div class="form-group mb-lg-0">
                    <label for="line-item-total-leads">Total Leads {{required-field-label}}</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">#</span>
                      </div>
                      {{input type="number" min="1" class="form-control" required=true id="line-item-total-leads" aria-describedby="line-item-total-leads-help"}}
                    </div>
                    <small id="line-item-total-leads-help" class="form-text text-muted">The number of qualified leads needed to fulfill this line item.</small>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mb-0">
                    <label for="line-item-value">Total Value {{required-field-label}}</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      {{input type="number" min="0" class="form-control" required=true id="line-item-value" aria-describedby="line-item-value-help"}}
                    </div>
                    <small id="line-item-value-help" class="form-text text-muted">The <em>total</em> value of this line item, e.g. $2,000.</small>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-lg-6 col-xl-5 d-flex justify-content-center">
              <div class="form-group mb-0">
                <label>Date Range {{required-field-label}}</label>
                {{#power-calendar-range
                  center=center
                  selected=model.range

                  onCenterChange=(action (mut center) value="moment")
                  onSelect=(action (mut model.range) value="moment") as |calendar|}}
                    {{calendar.nav}}
                    {{calendar.days}}
                {{/power-calendar-range}}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header"><strong>Email Criteria</strong></div>
        <div class="card-body">

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Gather leads from the following email categories...</label>
                {{#type-ahead
                  placeholder="Begin typing to find a category..."
                  type="email-category"
                  multiple=true
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  field="fullName"
                  selected=model.emailCategories
                  onChange=(action (mut model.emailCategories))
                  closeOnSelect=false as |emailCategory|
                }}
                  {{emailCategory.fullName}}
                {{/type-ahead}}
                <small class="form-text text-muted">Leaving empty will pull from <em>all</em> deployments. Individual email sends and links can be excluded later.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group mb-lg-0">
                <label>Where links are tagged with...</label>
                {{type-ahead
                  placeholder="Begin typing to find a tag..."
                  type="tag"
                  multiple=true
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  selected=model.tags
                  onChange=(action (mut model.tags))
                }}
                <small class="form-text text-muted">Leave empty to include all links.</small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group mb-0">
                <label>And links are set as... {{required-field-label}}</label>
                {{#power-select-multiple
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  options=linkTypeOptions
                  selected=model.linkTypes
                  onchange=(action (mut model.linkTypes))
                  closeOnSelect=false as |linkType|
                }}
                  {{linkType}}
                {{/power-select-multiple}}
                <small class="form-text text-muted">Choose at least once.</small>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header"><strong>Qualification Criteria</strong></div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                 <label>Required Fields</label>
                {{#power-select-multiple
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  options=requiredFieldOptions
                  selected=selectedRequiredFields
                  onchange=(action "setRequiredFields")
                  closeOnSelect=false as |field|
                }}
                  {{field.label}}
                {{/power-select-multiple}}
                <small class="form-text text-muted">Leads <em>must</em> have the selected fields to qualify. Email is always available.</small>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>Excluded Fields</label>
                {{!-- @todo Need to determine two change this if editorial, and automatically block phone # --}}
                {{#power-select-multiple
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  options=excludedFieldOptions
                  selected=selectedExcludedFieldOptions
                  onchange=(action "setExcludedFields")
                  closeOnSelect=false as |field|
                }}
                  {{field.label}}
                {{/power-select-multiple}}
                <small class="form-text text-muted">Select all fields you wish to hide on reports/exports.</small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group mb-0">
                {{campaign-identity-filter
                  title="Leads will be excluded when..."
                  triggerClass="form-control"
                  dropdownClass="in-modal-dropdown"
                  filters=model.identityFilters
                  on-change=(action "updateIdentityFilters")
                }}
              </div>
            </div>
          </div>

        </div>
      </div>
    {{/modal.body}}
    {{#modal.footer}}
    {{/modal.footer}}
  </form>
{{/bs-modal}}
