{{#bs-modal show=true size="xl" backdrop="static" onHidden=(route-action "transitionTo" "order.edit.line-items") as |modal|}}
  {{#modal.header}}
    <h5 class="modal-title">{{entypo-icon "email"}} Edit Email Line Item: <strong>{{model.name}}</strong></h5>
    <button {{action modal.actions.hide}} type="button" class="close" aria-label="Close">
      {{entypo-icon "cross"}}
    </button>
  {{/modal.header}}
  {{progress-bar class="progress-md" show=isActionRunning}}
  {{#modal.body}}

  {{/modal.body}}
  {{progress-bar class="progress-md" show=isActionRunning}}
  {{#modal.footer}}
  {{/modal.footer}}
{{/bs-modal}}
