{{#fetch-more
  query=observable
  edges=model.edges
  hasNextPage=model.pageInfo.hasNextPage
  endCursor=model.pageInfo.endCursor
  on-fetch-start=(route-action "showLoading")
  on-fetch-end=(route-action "hideLoading")
  resultKey="reportEmailIdentities" as |fetch|
}}
  <div class="card-body">
    <h5>Total Results: {{model.totalCount}}</h5>
    <div class="table-responsive">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th>#</th>
            {{#each fields as |field|}}
              <th>
                <span>{{ field.label }}</span>
                {{lead-report/tables/sort-field key=field.key sortBy=sortBy ascending=ascending}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each fetch.nodes as |item index|}}
            <tr>
              <td>{{add index 1}}</td>
              {{#each fields as |field|}}
                <td>{{get item field.key}}</td>
              {{/each}}
            </tr>
          {{else}}
            <tr>
              <td colspan={{fields.length}} class="text-center">No leads found.</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{#if fetch.hasNextPage}}
      <button class="btn btn-primary" disabled={{fetch.isFetching}} {{action fetch.actions.loadMore}}>
        {{entypo-icon "download"}} {{#if fetch.isFetching}}Loading...{{else}}Load More{{/if}}
      </button>
    {{/if}}
  </div>
{{/fetch-more}}

